$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$new-blue: #4775C8;
$page-blue: #4775C8;
$page-bg-blue: #79A6FF;
$title-black: #333;

//sidebar
$menuBg:#1D2637;
$subMenuBg:#2D3856;
$activeSubMenuBg:#4775C8;
$menuHover:#001528;

$searchInWidth: 220px;
$numFormInWidth: 90px;